<div th:fragment="slider" class="flex mt-16">
    <!-- Category Menu -->
    <div class="w-64 bg-white border border-gray-200 rounded-lg p-4">
        <ul class="space-y-2">
            <li>
                <a href="#" class="flex items-center space-x-3 p-2 rounded hover:bg-gray-100">
                    <img th:src="@{'/images/accessory.png'}" alt="accessory" class="w-6 h-6">
                    <span class="text-gray-800">Accessories</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center space-x-3 p-2 rounded hover:bg-gray-100">
                    <img th:src="@{'/images/device.png'}" alt="Icon" class="w-6 h-6">
                    <span class="text-gray-800">Electronic Accessories</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center space-x-3 p-2 rounded hover:bg-gray-100">
                    <img th:src="@{'/images/book.png'}" alt="Icon" class="w-6 h-6">
                    <span class="text-gray-800">Book</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center space-x-3 p-2 rounded hover:bg-gray-100">
                    <img th:src="@{'/images/fashion.png'}" alt="Icon" class="w-6 h-6">
                    <span class="text-gray-800">Fashion</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center space-x-3 p-2 rounded hover:bg-gray-100">
                    <img th:src="@{'/images/grocery.png'}" alt="Icon" class="w-6 h-6">
                    <span class="text-gray-800">Groceries</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center space-x-3 p-2 rounded hover:bg-gray-100">
                    <img th:src="@{'/images/homeappliance.png'}" alt="Icon" class="w-6 h-6">
                    <span class="text-gray-800">Home Appliances</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Slider Section -->
    <div class="ml-4 w-full">
        <div class="relative h-84 overflow-hidden rounded-lg" id="default-carousel" data-carousel="slide">
            <!-- Slider Images -->
            <div class="relative !h-full overflow-hidden rounded-lg md:h-64">
                <!-- Item 1 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/images/slider2.jpg" class="block w-full h-full object-cover" alt="Slider Image 1">
                </div>
                <!-- Item 2 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/images/slider1.jpg" class="block w-full h-full object-cover" alt="Slider Image 2">
                </div>
                <!-- Item 3 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/images/slider3.jpg" class="block w-full h-full object-cover" alt="Slider Image 3">
                </div>
                <!-- Item 4 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="/images/slider4.jpg" class="block w-full h-full object-cover" alt="Slider Image 4">
                </div>
            </div>

            <!-- Slider Indicators -->
            <div class="absolute z-30 flex -translate-x-1/2 bottom-2 left-1/2 space-x-3">
                <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
            </div>

            <!-- Slider Controls -->
            <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full  px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50">
                    <svg class="w-4 h-4 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1L1 5l4 4"></path>
                    </svg>
                    <span class="sr-only">Previous</span>
                </span>
            </button>
            <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50">
                    <svg class="w-4 h-4 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 9l4-4-4-4"></path>
                    </svg>
                    <span class="sr-only">Next</span>
                </span>
            </button>
        </div>
    </div>
</div>
